{% extends "_base.html" %}
{% load static %}

{% block title %}Les équipes{% endblock %}

{% block content %}
<div class="container">
    <h2>En savoir plus</h2>
    <p>La "Tropical Cup de Rugby au Japon" est un événement sportif spectaculaire qui se déroule au cœur du pays du
        Soleil-Levant. C'est une compétition annuelle de rugby qui a gagné en renommée et en popularité au fil des
        années, attirant des équipes de rugby de différentes parties du monde pour s'affronter dans un environnement
        unique et captivant.
        <br>
        Le Japon, avec son riche patrimoine culturel, sa cuisine délicieuse et ses paysages pittoresques, est le lieu
        idéal pour accueillir cette compétition internationale. Les équipes participantes, composées de joueurs
        talentueux et dévoués, se mesurent les unes aux autres dans des matchs passionnants qui captivent le public.
        <br>

        La "Tropical Cup" se distingue par son atmosphère chaleureuse et amicale, où la compétition est intense sur le
        terrain, mais l'esprit de camaraderie prévaut en dehors du stade. Les joueurs et les supporters ont l'occasion
        de se plonger dans la culture japonaise, d'explorer les sites emblématiques et de goûter à la délicieuse cuisine
        locale.
        <br>

        L'événement est également un hommage à la croissance du rugby au Japon, avec un nombre croissant de jeunes
        talents japonais qui aspirent à rejoindre les rangs des grands joueurs internationaux. La Tropical Cup sert de
        plateforme pour inspirer la nouvelle génération de rugbymen japonais et pour promouvoir ce sport passionnant
        dans le pays.
        <br>

        La beauté de la Tropical Cup réside dans sa capacité à transcender les frontières et à rassembler des personnes
        de cultures diverses autour de leur passion commune pour le rugby. Chaque année, le Japon devient le point de
        convergence de cette grande famille du rugby, prête à célébrer l'esprit sportif, l'excellence athlétique et la
        diversité culturelle.
        <br>

        La Tropical Cup de Rugby au Japon est bien plus qu'un simple tournoi sportif. C'est une célébration de la
        fraternité internationale, de la compétition féroce et de l'amour du jeu. C'est un événement qui laisse une
        empreinte indélébile dans le cœur des joueurs et des spectateurs, rappelant à tous que le rugby est bien plus
        qu'un sport, c'est une véritable passion partagée à l'échelle mondiale.
    </p>
    <br>
</div>
{% endblock %}